<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rzZ-M-TQoG4?autoplay=1" frameborder="0" allowfullscreen></iframe>

        </LayoutView>
    </NotFound>
</Router>
