<h3>Anketa</h3>

<div class="anketa">
    @if (showRadioButtons)
    {
        <div class="tekstAnkete">
            <p>@questionText</p>
        </div>

        <div class="opcijeAnkete">
            @foreach (var option in options)
            {
                <div>
                    <input type="radio" id="@option.Text" name="options" value="@option.Text" class="opcijaAnkete" @onchange="HandleRadioButtonChange">
                    <label for="@option.Text" class="imeOpcije">@option.Text</label><br>
                </div>
            }
        </div>
    }
    else
    {
        <div class="tekstAnkete">
            <label for="text-input">Unesite pitanje:</label>
            <input type="text" id="text-input" @bind="@questionText" />
            <button @onclick="SetQuestionText">Ok</button>
        </div>

        <div class="opcijeAnkete">
            @foreach (var option in options)
            {
                <div>
                    <input type="text" @bind="@option.Text" class="opcijaAnkete" />
                    <button @onclick="() => RemoveOption(option)">Remove</button>
                </div>
            }
            <div>
                <button @onclick="AddOption">Add new option</button>
            </div>
        </div>

        <div>
            <button @onclick="ConvertToRadioButtons">Done</button>
        </div>
    }
</div>

@code {
    private string questionText;
    private string selectedOption;
    private List<OptionModel> options = new List<OptionModel>();
    private bool showRadioButtons = false;

    private void AddOption()
    {
        //ovde treba da dodamo u bazu opciju
        options.Add(new OptionModel());
    }

    private void RemoveOption(OptionModel option)
    {
        options.Remove(option);
    }

    private void ConvertToRadioButtons()
    {
        showRadioButtons = true;
    }

    private void SetQuestionText()
    {
        //ovde treba da ubacimo u bazu u tekst
        showRadioButtons = true;
    }

    public class OptionModel
    {
        public string Text { get; set; }
    }

    private void HandleRadioButtonChange(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();
        Console.WriteLine("Selected Option: " + selectedOption);
    }
}
