@page "/"
@using Elfind.Data.Model;
@using Elfind.Data.Services;
@inject ProstorijaService prostorijaService;
@inject ZgradaService zgradaService;


<PageTitle>Index</PageTitle>



<EditForm Model="@prostorija" OnValidSubmit="ProstorijaSubmit">
    <div>Prostorija</div>
    <label for="OznakaInput">Oznaka</label>
    <InputText id="OznakaInput" @bind-Value="@prostorija.Oznaka"> </InputText>
    <br/>

    <label for="SpratInput">Sprat</label>
    <InputText id="SpratInput" @bind-Value="@prostorija.Sprat"> </InputText>
    <br />

    @*razmisliti kako unosimo coord*@
    <label for="DownRightXInput">DownRightX</label>
    <InputNumber id="DownRightXInput" @bind-Value="@prostorija.DownRightX"> </InputNumber>
    <br />

    <label for="DownRightYInput">DownRightY</label>
    <InputNumber id="DownRightYInput" @bind-Value="@prostorija.DownRightY"> </InputNumber>
    <br />

    <label for="LeftUpXInput">LeftUpX</label>
    <InputNumber id="LeftUpXInput" @bind-Value="@prostorija.LeftUpX"> </InputNumber>
    <br />

    <label for="LeftUpYInput">LeftUpY</label>
    <InputNumber id="LeftUpYInput" @bind-Value="@prostorija.LeftUpY"> </InputNumber>
    <br />

    <label for="KapacitetInput">Kapacitet</label>
    <InputNumber id="KapacitetInput" @bind-Value="@prostorija.Kapacitet"> </InputNumber>
    <br />

    <label for="TipProstorijeInput">TipProstorije</label>
    <InputSelect id="TipProstorijeInput" @bind-Value="@prostorija.TipProstorije"> 
        @foreach(var tip in Enum.GetValues(typeof(TipP)))
        {
            <option value="@tip">@prostorija.TipProstorije</option>
        }
    </InputSelect>
    <br />

    @*sta se desava sa atributima koji su objekti videcemo*@
    
    <button type="submit" class="btn-primary">Create</button>
    <br />
</EditForm>

@code{
    Prostorija prostorija = new Prostorija();

    public void ProstorijaSubmit(EditContext editContext)
    {
        Prostorija novaProstorija = (Prostorija)editContext.Model;

        prostorijaService.dodajProstoriju(novaProstorija);
    }
}

<EditForm Model="@zgrada" OnValidSubmit="ZgradaSubmit">
    <div>Zgrada</div>
    <label for="TipInput">Tip</label>
    <InputSelect id="TipInput" @bind-Value="@zgrada.Tip">
        @foreach (var tip in Enum.GetValues(typeof(TipZgrade)))
        {
            <option value="@tip">@zgrada.Tip</option>
        }
    </InputSelect>
    <br />

    <button type="submit" class="btn-primary">Create</button>
    <br />

</EditForm>

@code {
    Zgrada zgrada = new Zgrada();

    public void ZgradaSubmit(EditContext editContext)
    {
        Zgrada novaZgrada = (Zgrada)editContext.Model;

        zgradaService.dodajZgradu(novaZgrada);
    }
}